$slideInRightTime: 1s; //背景图片从右往左进入时间
$titleFadeInRightTime: 1s; //文字描述从右进来 时间
$shuyeFadeOutUpTime: 1s; //树叶往上飞出时间
$bihuaFadeInTime: 1s;
@mixin prefix($name, $title) {
  #{$name}: #{$title};
  -moz-#{$name}: #{$title};
  -webkit-#{$name}: #{$title};
  -o-#{$name}: #{$title};
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
	@content;
  }
  @-moz-keyframes #{$animationName} {
	@content;
  }
  @-o-keyframes #{$animationName} {
	@content;
  }
  @keyframes #{$animationName} {
	@content;
  }
}

@mixin transition1($name, $time) {
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;

  -webkit-transition-property: #{$name};
  -moz-transition-property: #{$name};
  -o-transition-property: #{$name};
  transition-property: #{$name};

  -webkit-transition-duration: #{$time};
  -moz-transition-duration: #{$time};
  -o-transition-duration: #{$time};
  transition-duration: #{$time};
}

@mixin animation($name, $time, $num:1, $delay:0, $function:linear) {
  @include prefix(animation-name, #{$name});
  @include prefix(animation-duration, #{$time});
  @include prefix(animation-timing-function, #{$function});
  @include prefix(animation-iteration-count, $num);
  @include prefix(animation-delay, $delay);
}

.animation-public {
  z-index: 99;
  visibility: visible !important;
  @include prefix(animation-fill-mode, both);
  //-webkit-animation-fill-mode: both !important;
}

.slide-in-right {
  @extend .animation-public;
  @include animation(slide-in-right, $slideInRightTime);
}

.fade-in-right {
  @extend .animation-public;
  @include animation(fade-in-right, $titleFadeInRightTime);
}

.fade-out-up {
  @extend .animation-public;
  @include animation(fade-out-up, $shuyeFadeOutUpTime);
}

.fade-out {
  @extend .animation-public;
  @include animation(fade-out, $shuyeFadeOutUpTime);
}

.fade-in {
  @extend .animation-public;
  @include animation(fade-in, $bihuaFadeInTime);
}

.rotate {
  @extend .animation-public;
  @include animation(rotate, 1.2s, infinite);
}

.scaleout {
  @extend .animation-public;
  @include animation(scaleout, 1.1s, infinite);
}

.circle1 {
  @extend .animation-public;
  @include animation(circle, 3s, infinite);
}

.circle2 {
  @extend .animation-public;
  @include animation(circle, 3s, infinite, 0.8s);
}

.circle3 {
  @extend .animation-public;
  @include animation(circle, 3s, infinite, 1.6s);
}

.heartbeat {
  @extend .animation-public;
  @include animation(heartbeat, 8s, infinite, 0, ease-out);
}

@include keyframes(slide-in-right) {
  0% {
	-webkit-transform: translateX(400px);
  }
  100% {
	-webkit-transform: translateX(0px);
  }
}

@include keyframes(fade-in-right) {
  0% {
	transform: translateX(100%);
	opacity: 0;
  }
  100% {
	transform: translateX(0%);
	opacity: 1;
  }
}

@include keyframes(fade-out-up) {
  0% {
	transform: translateY(0%);

	opacity: 1;
  }
  100% {
	transform: translateY(-100%);

	opacity: 0;
  }
}

@include keyframes(fade-out) {
  0% {
	opacity: 1;
  }
  100% {
	opacity: 0;
  }
}

@include keyframes(fade-in) {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}

@include keyframes(heartbeat) {
  0%, 20%, 40%, 60%, 80%, 100% {
	transform: scale(1);
  }
  10%, 30%, 50%, 70%, 90% {
	transform: scale(1.15);
  }
}

@include keyframes(rotate) {
  0% {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotateZ(0deg) translateZ(0);
	transform: rotateZ(0deg) translateZ(0);
  }
  100% {
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotateZ(360deg) translateZ(0);
	transform: rotateZ(360deg) translateZ(0);
  }
}

@include keyframes(scaleout) {
  0% {
	transform: scale(1.0);
	-webkit-transform: scale(1.0);
  }
  100% {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	opacity: 0;
  }
}

@include keyframes(circle) {
  from {
	opacity: 1;
	-webkit-transform: scale(0);
  }
  to {
	opacity: 0;
	-webkit-transform: scale(3);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(-30%, 0, 0);
	transform: translate3d(-30%, 0, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@keyframes fadeInLeft {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(-30%, 0, 0);
	transform: translate3d(-30%, 0, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@-webkit-keyframes fadeInRight {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(30%, 0, 0);
	transform: translate3d(30%, 0, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@keyframes fadeInRight {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(30%, 0, 0);
	transform: translate3d(30%, 0, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  }
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 3000px, 0);
	transform: translate3d(0, 3000px, 0)
  }
  60% {
	opacity: 1;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0)
  }
  75% {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0)
  }
  90% {
	-webkit-transform: translate3d(0, -5px, 0);
	transform: translate3d(0, -5px, 0)
  }
  100% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  }
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 3000px, 0);
	transform: translate3d(0, 3000px, 0)
  }
  60% {
	opacity: 1;
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0)
  }
  75% {
	-webkit-transform: translate3d(0, 10px, 0);
	transform: translate3d(0, 10px, 0)
  }
  90% {
	-webkit-transform: translate3d(0, -5px, 0);
	transform: translate3d(0, -5px, 0)
  }
  100% {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
  }
}

@-webkit-keyframes fadeInDown {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@keyframes fadeInDown {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@keyframes mysnow {
  0% {
	bottom: 100%;
	opacity: 0
  }
  50% {
	opacity: 1;
	transform: rotate(1080deg)
  }
  100% {
	transform: rotate(0deg);
	opacity: 0;
	bottom: 0
  }
}

@-webkit-keyframes mysnow {
  0% {
	bottom: 100%;
	opacity: 0
  }
  50% {
	opacity: 1;
	-webkit-transform: rotate(1080deg)
  }
  100% {
	-webkit-transform: rotate(0deg);
	opacity: 0;
	bottom: 0
  }
}

@-moz-keyframes mysnow {
  0% {
	bottom: 100%;
	opacity: 0
  }
  50% {
	opacity: 1;
	-moz-transform: rotate(1080deg)
  }
  100% {
	-moz-transform: rotate(0deg);
	opacity: 0;
	bottom: 0
  }
}

@-ms-keyframes mysnow {
  0% {
	bottom: 100%;
	opacity: 0
  }
  50% {
	opacity: 1;
	-ms-transform: rotate(1080deg)
  }
  100% {
	-ms-transform: rotate(0deg);
	opacity: 0;
	bottom: 0
  }
}

@-o-keyframes mysnow {
  0% {
	bottom: 100%;
	opacity: 0
  }
  50% {
	opacity: 1;
	-o-transform: rotate(1080deg)
  }
  100% {
	-o-transform: rotate(0deg);
	opacity: 0;
	bottom: 0
  }
}

@-webkit-keyframes fadeInUp {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 5%, 0);
	transform: translate3d(0, 5%, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@keyframes fadeInUp {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 5%, 0);
	transform: translate3d(0, 5%, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@-webkit-keyframes fadeInUpBottom {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@keyframes fadeInUpBottom {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@-webkit-keyframes fadeInDownUp {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

@keyframes fadeInDownUp {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0)
  }
  100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none
  }
}

.fadeInDownUp {
  -webkit-animation-name: fadeInDownUp;
  animation-name: fadeInDownUp
}

.fadeInUpBottom {
  -webkit-animation-name: fadeInUpBottom;
  animation-name: fadeInUpBottom
}

.roll {
  position: absolute;
  opacity: 0;
  animation: mysnow 5s;
  -webkit-animation: mysnow 5s;
  -moz-animation: mysnow 5s;
  -ms-animation: mysnow 5s;
  -o-animation: mysnow 5s
}

.snowdiv {
  position: fixed
}

@-webkit-keyframes mleft {
  0%, 30% {
	opacity: 0;
	-webkit-transform: translate(5px, 0)
  }
  60% {
	opacity: 1;
	-webkit-transform: translate(0, 0)
  }
  100% {
	opacity: 0;
	-webkit-transform: translate(-4px, 0)
  }
}

@-moz-keyframes mleft {
  0%, 30% {
	opacity: 0;
	-moz-transform: translate(5px, 0)
  }
  60% {
	opacity: 1;
	-moz-transform: translate(0, 0)
  }
  100% {
	opacity: 0;
	-moz-transform: translate(-4px, 0)
  }
}

@keyframes mleft {
  0%, 30% {
	opacity: 0;
	transform: translate(5px, 0)
  }
  60% {
	opacity: 1;
	transform: translate(0, 0)
  }
  100% {
	opacity: 0;
	transform: translate(-4px, 0)
  }
}

@-webkit-keyframes mright {
  0%, 30% {
	opacity: 0;
	-webkit-transform: translate(9px, 0)
  }
  60% {
	opacity: 1;
	-webkit-transform: translate(0, 0)
  }
  100% {
	opacity: 0;
	-webkit-transform: translate(4px, 0)
  }
}

@-moz-keyframes mright {
  0%, 30% {
	opacity: 0;
	-moz-transform: translate(9px, 0)
  }
  60% {
	opacity: 1;
	-moz-transform: translate(0, 0)
  }
  100% {
	opacity: 0;
	-moz-transform: translate(4px, 0)
  }
}

@keyframes mright {
  0%, 30% {
	opacity: 0;
	transform: translate(9px, 0)
  }
  60% {
	opacity: 1;
	transform: translate(0, 0)
  }
  100% {
	opacity: 0;
	transform: translate(4px, 0)
  }
}

.arrow-left {
  position: absolute;
  -webkit-animation: mleft 1.2s infinite ease-in-out;
  -moz-animation: mleft 1.2s infinite ease-in-out;
  animation: mleft 1.2s infinite ease-in-out
}

.arrow-right {
  position: absolute;
  -webkit-animation: mright 1.2s infinite ease-in-out;
  -moz-animation: mright 1.2s infinite ease-in-out;
  animation: mright 1.2s infinite ease-in-out
}