@charset "UTF-8";
.animation-public, .slide-in-right, .fade-in-right, .fade-out-up, .fade-in {
  z-index: 99;
  visibility: visible !important;
  animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both; }

.slide-in-right {
  animation-name: slide-in-right;
  -moz-animation-name: slide-in-right;
  -webkit-animation-name: slide-in-right;
  -o-animation-name: slide-in-right;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1; }

.fade-in-right {
  animation-name: fade-in-right;
  -moz-animation-name: fade-in-right;
  -webkit-animation-name: fade-in-right;
  -o-animation-name: fade-in-right;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1; }

.fade-out-up {
  animation-name: fade-out-up;
  -moz-animation-name: fade-out-up;
  -webkit-animation-name: fade-out-up;
  -o-animation-name: fade-out-up;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1; }

.fade-in {
  animation-name: fade-in;
  -moz-animation-name: fade-in;
  -webkit-animation-name: fade-in;
  -o-animation-name: fade-in;
  animation-duration: 1s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1; }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(400px); }
  100% {
    -webkit-transform: translateX(0px); } }
@-moz-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(400px); }
  100% {
    -webkit-transform: translateX(0px); } }
@-o-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(400px); }
  100% {
    -webkit-transform: translateX(0px); } }
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(400px); }
  100% {
    -webkit-transform: translateX(0px); } }
@-webkit-keyframes fade-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }
@-moz-keyframes fade-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }
@-o-keyframes fade-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }
@keyframes fade-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0; }
  100% {
    transform: translateX(0%);
    opacity: 1; } }
@-webkit-keyframes fade-out-up {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    opacity: 0; } }
@-moz-keyframes fade-out-up {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    opacity: 0; } }
@-o-keyframes fade-out-up {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    opacity: 0; } }
@keyframes fade-out-up {
  0% {
    transform: translateY(0%);
    opacity: 1; }
  100% {
    transform: translateY(-100%);
    opacity: 0; } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes heartbeat {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: scale(1); }
  10%, 30%, 50%, 70%, 90% {
    transform: scale(1.15); } }
@-moz-keyframes heartbeat {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: scale(1); }
  10%, 30%, 50%, 70%, 90% {
    transform: scale(1.15); } }
@-o-keyframes heartbeat {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: scale(1); }
  10%, 30%, 50%, 70%, 90% {
    transform: scale(1.15); } }
@keyframes heartbeat {
  0%, 20%, 40%, 60%, 80%, 100% {
    transform: scale(1); }
  10%, 30%, 50%, 70%, 90% {
    transform: scale(1.15); } }
body, html, .content {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body, p, ul, dl, dd, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul, ol {
  padding-left: 0;
  list-style: none; }

em, i {
  font-style: normal; }

strong, b {
  font-style: normal; }

a {
  text-decoration: none; }

.preloading-content {
  position: absolute;
  left: -88888px;
  top: -8888px;
  width: 30px;
  height: 30px; }
  .preloading-content img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0; }

.background-public, .page_1, .page_1 .bottom-content .title1, .page_1 .bottom-content .title2, .page_1 .bottom-content .title-en {
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.content {
  width: 100%;
  height: 700%;
  overflow: hidden;
  /*pointer-events: none; 去掉这句话*/
  -webkit-transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  position: relative; }

.page {
  height: calc(100% / 7);
  position: relative; }

.page_1 {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-image: url("../images/page1/bg.png"); }
  .page_1 .music-oper {
    position: absolute;
    overflow: hidden;
    width: 1.05rem;
    height: 1.05rem;
    right: 0.675rem;
    top: 0.45rem; }
    .page_1 .music-oper .music-img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0; }
    .page_1 .music-oper .play-cls {
      display: block; }
    .page_1 .music-oper .suspend-cls {
      display: none; }
    .page_1 .music-oper.suspend .suspend-cls {
      display: block; }
    .page_1 .music-oper.suspend .play-cls {
      display: none; }
  .page_1 .logo-img {
    position: relative;
    margin-top: 2.15rem;
    width: 3.35rem;
    height: 3.925rem;
    margin-left: auto;
    margin-right: auto; }
  .page_1 .bottom-content {
    position: relative;
    width: 7rem;
    height: 2.825rem;
    margin-top: 2.325rem;
    margin-left: auto;
    margin-right: auto; }
    .page_1 .bottom-content .title1 {
      position: absolute;
      left: 0.6rem;
      top: -0.575rem;
      height: 1.75rem;
      width: 0;
      background-image: url("../images/page1/title1.png");
      background-size: cover; }
      .page_1 .bottom-content .title1.title1-transition {
        width: 5.3375rem; }
    .page_1 .bottom-content .title2 {
      position: absolute;
      left: 1.3rem;
      top: 0.975rem;
      height: 1.625rem;
      width: 0;
      background-image: url("../images/page1/title2.png");
      background-size: cover; }
      .page_1 .bottom-content .title2.title2-transition {
        width: 5.275rem; }
    .page_1 .bottom-content .title-en {
      position: absolute;
      left: 1.3rem;
      bottom: -0.5rem;
      height: 1rem;
      width: 3.925rem;
      display: none;
      background-image: url("../images/page1/title-en.png"); }
      .page_1 .bottom-content .title-en.title-en-transition {
        display: block; }
    .page_1 .bottom-content .line {
      background-color: #ffffff; }
    .page_1 .bottom-content .top-left-line {
      position: absolute;
      right: 6.5125rem;
      top: 0rem;
      height: 0.0625rem;
      width: 0;
      transform-origin: right top;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-property: width;
      -moz-transition-property: width;
      -o-transition-property: width;
      transition-property: width; }
      .page_1 .bottom-content .top-left-line.top-left-line-transition {
        width: 0.4875rem; }
    .page_1 .bottom-content .left-line {
      position: absolute;
      left: 0rem;
      top: 0.0625rem;
      width: 0.0625rem;
      height: 0;
      transform-origin: right;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-property: height;
      -moz-transition-property: height;
      -o-transition-property: height;
      transition-property: height; }
      .page_1 .bottom-content .left-line.left-line-transition {
        height: 2.7625rem; }
    .page_1 .bottom-content .bottom-left-line {
      position: absolute;
      left: 0rem;
      bottom: 0rem;
      height: 0.0625rem;
      width: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-property: width;
      -moz-transition-property: width;
      -o-transition-property: width;
      transition-property: width; }
      .page_1 .bottom-content .bottom-left-line.bottom-left-line-transition {
        width: 1.2rem; }
    .page_1 .bottom-content .bottom--right-line {
      position: absolute;
      left: 5.475rem;
      bottom: 0rem;
      width: 0;
      height: 0.0625rem;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-property: width;
      -moz-transition-property: width;
      -o-transition-property: width;
      transition-property: width; }
      .page_1 .bottom-content .bottom--right-line.bottom--right-line-transition {
        width: 1.525rem; }
    .page_1 .bottom-content .right-line {
      position: absolute;
      right: 0rem;
      bottom: 0.0625rem;
      width: 0.0625rem;
      height: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-property: height;
      -moz-transition-property: height;
      -o-transition-property: height;
      transition-property: height; }
      .page_1 .bottom-content .right-line.right-line-transition {
        height: 2.7625rem; }
    .page_1 .bottom-content .top-right-line {
      position: absolute;
      right: 0.0625rem;
      top: 0rem;
      height: 0.0625rem;
      width: 0;
      -webkit-transition-timing-function: linear;
      -moz-transition-timing-function: linear;
      -o-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-property: width;
      -moz-transition-property: width;
      -o-transition-property: width;
      transition-property: width; }
      .page_1 .bottom-content .top-right-line.top-right-line-transition {
        width: 0.925rem; }
  .page_1 .arrow-content {
    position: absolute;
    width: 1.2875rem;
    height: 0.6375rem;
    bottom: 0.475rem;
    left: 50%;
    transform: translateX(-50%); }
  .page_1 .arrow-img {
    width: 100%;
    height: 100%;
    -webkit-animation: heartbeat 8s;
    animation: heartbeat 8s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

.page_2, .page_3, .page_4, .page_5, .page_6 {
  width: 100%; }
  .page_2 .bg, .page_3 .bg, .page_4 .bg, .page_5 .bg, .page_6 .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    visibility: hidden; }
  .page_2 .bg1, .page_3 .bg1, .page_4 .bg1, .page_5 .bg1, .page_6 .bg1 {
    z-index: 1;
    visibility: visible; }
  .page_2 .bg2, .page_3 .bg2, .page_4 .bg2, .page_5 .bg2, .page_6 .bg2 {
    z-index: 2; }
  .page_2 .bg3, .page_3 .bg3, .page_4 .bg3, .page_5 .bg3, .page_6 .bg3 {
    z-index: 3; }
  .page_2 .page-content, .page_3 .page-content, .page_4 .page-content, .page_5 .page-content, .page_6 .page-content {
    position: absolute;
    left: 1.175rem;
    top: 1rem; }
  .page_2 .shuye, .page_3 .shuye, .page_4 .shuye, .page_5 .shuye, .page_6 .shuye {
    position: absolute;
    width: 0.7rem;
    height: 1.7375rem;
    left: 0rem;
    top: 0rem;
    z-index: 100;
    opacity: 0; }
    .page_2 .shuye img, .page_3 .shuye img, .page_4 .shuye img, .page_5 .shuye img, .page_6 .shuye img {
      width: 100%;
      height: 100%; }
  .page_2 .text-content, .page_3 .text-content, .page_4 .text-content, .page_5 .text-content, .page_6 .text-content {
    position: absolute;
    width: 6.5125rem;
    height: 2.7875rem;
    left: 1.7rem;
    top: 1rem;
    z-index: 100; }
    .page_2 .text-content .every-day-content, .page_3 .text-content .every-day-content, .page_4 .text-content .every-day-content, .page_5 .text-content .every-day-content, .page_6 .text-content .every-day-content {
      position: absolute;
      width: 2.9625rem;
      height: 1.1375rem;
      left: -0.875rem;
      top: -0.75rem; }
      .page_2 .text-content .every-day-content .bihua, .page_3 .text-content .every-day-content .bihua, .page_4 .text-content .every-day-content .bihua, .page_5 .text-content .every-day-content .bihua, .page_6 .text-content .every-day-content .bihua {
        background-color: #cccccc;
        opacity: 0;
        width: 10px;
        height: 20px;
        float: left; }
    .page_2 .text-content .en-img, .page_3 .text-content .en-img, .page_4 .text-content .en-img, .page_5 .text-content .en-img, .page_6 .text-content .en-img {
      position: absolute;
      width: 1.525rem;
      height: 0.45rem;
      left: 2.225rem;
      top: -0.45rem;
      opacity: 0; }
    .page_2 .text-content .line, .page_3 .text-content .line, .page_4 .text-content .line, .page_5 .text-content .line, .page_6 .text-content .line {
      background-color: #ffffff; }
    .page_2 .text-content .left-line, .page_3 .text-content .left-line, .page_4 .text-content .left-line, .page_5 .text-content .left-line, .page_6 .text-content .left-line {
      position: absolute;
      width: 0.05rem;
      height: 0rem;
      left: 0rem;
      top: 0.6625rem; }
      .page_2 .text-content .left-line.left-line-transition, .page_3 .text-content .left-line.left-line-transition, .page_4 .text-content .left-line.left-line-transition, .page_5 .text-content .left-line.left-line-transition, .page_6 .text-content .left-line.left-line-transition {
        height: calc(100% - (53 / 80) * 1rem); }
    .page_2 .text-content .bottom-line, .page_3 .text-content .bottom-line, .page_4 .text-content .bottom-line, .page_5 .text-content .bottom-line, .page_6 .text-content .bottom-line {
      position: absolute;
      width: 0rem;
      height: 0.05rem;
      left: 0.05rem;
      bottom: 0rem; }
      .page_2 .text-content .bottom-line.bottom-line-transition, .page_3 .text-content .bottom-line.bottom-line-transition, .page_4 .text-content .bottom-line.bottom-line-transition, .page_5 .text-content .bottom-line.bottom-line-transition, .page_6 .text-content .bottom-line.bottom-line-transition {
        width: calc(100% - (4 / 80) * 1rem); }
    .page_2 .text-content .right-line, .page_3 .text-content .right-line, .page_4 .text-content .right-line, .page_5 .text-content .right-line, .page_6 .text-content .right-line {
      position: absolute;
      width: 0.05rem;
      height: 0rem;
      right: 0rem;
      bottom: 0.05rem; }
      .page_2 .text-content .right-line.right-line-transition, .page_3 .text-content .right-line.right-line-transition, .page_4 .text-content .right-line.right-line-transition, .page_5 .text-content .right-line.right-line-transition, .page_6 .text-content .right-line.right-line-transition {
        height: calc(100% - (4 / 80) * 1rem); }
    .page_2 .text-content .top-line, .page_3 .text-content .top-line, .page_4 .text-content .top-line, .page_5 .text-content .top-line, .page_6 .text-content .top-line {
      position: absolute;
      width: 0rem;
      height: 0.05rem;
      right: 0.05rem;
      top: 0rem; }
      .page_2 .text-content .top-line.top-line-transition, .page_3 .text-content .top-line.top-line-transition, .page_4 .text-content .top-line.top-line-transition, .page_5 .text-content .top-line.top-line-transition, .page_6 .text-content .top-line.top-line-transition {
        width: calc(100% - (186 / 80) * 1rem); }
    .page_2 .text-content .title, .page_3 .text-content .title, .page_4 .text-content .title, .page_5 .text-content .title, .page_6 .text-content .title {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      font-size: 0.3rem;
      color: #ffffff;
      padding-top: 0.5rem;
      padding-right: 0.375rem;
      padding-bottom: 0.5rem;
      padding-left: 0.375rem; }
      .page_2 .text-content .title .label, .page_3 .text-content .title .label, .page_4 .text-content .title .label, .page_5 .text-content .title .label, .page_6 .text-content .title .label {
        opacity: 0; }

.page_3 .page-content {
  position: absolute;
  left: 1.825rem;
  top: 1rem; }
  .page_3 .page-content .text-content {
    width: 5.85rem; }
    .page_3 .page-content .text-content .title {
      padding-top: 0.375rem;
      padding-right: 0.25rem;
      padding-bottom: 0.375rem;
      padding-left: 0.25rem; }

.page_4 .page-content {
  position: absolute;
  left: 0.625rem;
  top: 10rem; }
  .page_4 .page-content .text-content {
    width: 4.75rem;
    height: 2.75rem; }
    .page_4 .page-content .text-content .title {
      padding-top: 0.375rem;
      padding-right: 0.25rem;
      padding-bottom: 0.375rem;
      padding-left: 0.25rem; }

.page_5 .page-content {
  left: 2.9rem; }
  .page_5 .page-content .text-content {
    width: 4.925rem;
    height: 2.75rem; }

.page_6 .page-content {
  left: 0.875rem; }
  .page_6 .page-content .text-content {
    width: 5.9rem;
    height: 4.075rem; }

.page_7 .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  visibility: hidden; }
.page_7 .bg1 {
  z-index: 1;
  visibility: visible; }
.page_7 .bg2 {
  z-index: 2; }
.page_7 .bg3 {
  z-index: 3; }
.page_7 .bg4 {
  z-index: 4; }
.page_7 .bg5 {
  z-index: 5; }
.page_7 .page-content {
  position: absolute;
  left: 2.825rem;
  top: 0.75rem;
  width: 5rem;
  height: 3.75rem;
  z-index: 100; }
  .page_7 .page-content .title {
    width: 5.9rem;
    height: 4.075rem;
    font-size: 0.3rem;
    color: #ffffff;
    padding-left: 0.375rem; }
    .page_7 .page-content .title .label {
      opacity: 0; }
.page_7 .line {
  position: absolute;
  left: 0rem;
  top: 0.2rem;
  width: 0.075rem;
  height: 0rem;
  background-color: #ffffff; }
  .page_7 .line.line-transition {
    height: 3.5rem; }

/*# sourceMappingURL=style.css.map */
