/*
Error: Invalid US-ASCII character "\xE5"
        on line 50 of style.scss

45: 	left: 0;
46: 	top: 0;
47:   }
48: }
49: 
50: $baseFontSize: 80; //基于视觉稿横屏尺寸/100得出的基准font-size
51: @mixin px2rem($name, $px) {
52:   #{$name}: $px / $baseFontSize * 1rem;
53: }
54: 
55: @mixin calcPx2rem($name, $px) {

Backtrace:
style.scss:50
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/util.rb:1041:in `rescue in block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/util.rb:1038:in `block in find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/util.rb:1037:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/util.rb:1037:in `each_with_index'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/util.rb:1037:in `find_encoding_error'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/util.rb:765:in `check_sass_encoding'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/engine.rb:444:in `check_encoding!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/engine.rb:400:in `_to_tree'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/plugin.rb:82:in `update_stylesheets'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/exec/base.rb:50:in `parse'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/lib/sass/exec/base.rb:18:in `parse!'
/Library/Ruby/Gems/2.3.0/gems/sass-3.5.7/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:22:in `load'
/usr/local/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid US-ASCII character \"\xE5\"\A         on line 50 of style.scss\A \A 45: 	left: 0;\A 46: 	top: 0;\A 47:   }\A 48: }\A 49: \A 50: $baseFontSize: 80; //基于视觉稿横屏尺寸/100得出的基准font-size\A 51: @mixin px2rem($name, $px) {\A 52:   #{$name}: $px / $baseFontSize * 1rem;\A 53: }\A 54: \A 55: @mixin calcPx2rem($name, $px) {"; }
