body, p, ul, dl, dd, ol, h1, h2, h3, h4, h5, h6 {
	margin: 0
}

ul, ol {
	padding-left: 0;
	list-style: none
}

em, i {
	font-style: normal
}

strong, b {
	font-style: normal
}

a {
	text-decoration: none
}

#app {
	position: relative;
	font-family: 'PingFangSC-Regular', 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background-color: #f2f5f8;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding-bottom: 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.login-content {
	height: 100%;
	width: 100%;
	padding: 100px 10px;
}

.login-content .owner-information {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	border-bottom: 2px solid #cccccc;
}

.login-content .form-content {
	width: 100%;
	padding: 20px 50px;
}

.login-content .form-content .ant-form-item-label {
	min-width: 60px;
	padding: 0;
	margin-right: 10px;
}

.ant-btn-primary i {
	display: none;
}

.ant-btn-loading i {
	display: inline-block;
}

.ant-btn-primary span {
	margin-left: 0 !important;
}

.ant-btn-loading span {
	margin-left: 8px !important;
}